<!DOCTYPE html>
<html>
<head>
<title>Spotify Register</title>
<link rel="stylesheet" href="css/register.css">
</head>

<body>

<div class="register-box">

<h1>Spotify</h1>

<h2>Sign up for free</h2>

<input type="text" id="username" placeholder="Username">
<input type="email" id="email" placeholder="Email">
<input type="password" id="password" placeholder="Password">

<button onclick="registerUser()">Create Account</button>

<script src="js/register.js"></script>

<a href="login.html">
Already have an account?
</a>

</div>

</body>
</html>